


@{ 
    ViewBag.Title = "Calculate Premium";
}

@section Scripts {
    <script src="~/ClientApp/dist/inline.bundle.js"></script>
    <script src="~/ClientApp/dist/polyfills.bundle.js"></script>
    <script src="~/ClientApp/dist/styles.bundle.js"></script>
    <script src="~/ClientApp/dist/vendor.bundle.js"></script>
    <script src="~/ClientApp/dist/main.bundle.js"></script>
}

<div class="row">
    <div class="col-md-4">
        <app-root></app-root>
    </div>
    <div class="col-md-4">
    </div>
</div>
   


    